.portfolio__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem 4rem;
}

/* Media queries (phones) */
@media screen and (max-width: 600px) {
    .portfolio__container {
        grid-template-columns: 1fr;
    }
}

