.services__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem 4rem;
}

.services__details h4 {
    color: var(--color-blue);
    margin: 0.5rem 0;
}

.service__icon {
    padding: 0.6rem;
    font-size: 1.5rem;
    transition: var(--transition);
}

/* Media queries (tablets) */
@media screen and (max-width: 1024px) {
    .services__container {
        gap: 1.5rem;
    }
}

/* Media queries (phones) */
@media screen and (max-width: 600px) {
    .services__container {
        grid-template-columns: 1fr;
    }
}