.about__profile {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.about__image {
    border-left: 5px solid var(--color-blue);
    width: 22.9rem;
    height: 22.6rem;
}

.about__image img {
    object-fit: cover;
}
.about__text {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: space-around;
}

.about__text h3 {
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.about__text p {
    margin-bottom: 1rem;
}

/* Media queries (phones) */
@media screen and (max-width: 600px) {
    .about__text {
        width: 90%;
        text-align: center;
        margin-top: 3rem;
    }
}