
.header__container {
    margin-top: 5rem;
}

.header__profile {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.header__text h4 {
    text-transform: uppercase;
}

.header__text h1 {
    text-transform: uppercase;
    color: var(--color-blue);
}

.header__button {
    display: flex;
    align-items: center;
}

.btn__header {
    display: flex;
    align-items: center;
    width: 9.5rem;
    height: 2.8rem;
    margin-top: 2rem;
    margin-right: 1rem;
    cursor: pointer;
    border: 2px solid var(--color-blue);
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: var(--border-radius-3);
    box-shadow: 0 0.3rem 0.3rem hsla(var(--primary-hue), 68%, 42%, 20%);
}

.btn__header:hover {
    background-color: var(--color-blue);
    color: var(--color-white);
}

.header__image {
    width: 50%;
    border-radius: var(--border-radius-3);
}

/* Media queries (phones) */
@media screen and (max-width: 600px) {
    .header__profile {
        margin-top: 10rem;
        margin-bottom: 3rem;
    }

    .header__text {
        text-align: center;
        margin-bottom: 3rem;
    }

    .header__image {
        width: 80%;
        align-items: center;
    }
}